/* These narrow styles focus on any adjustments for small mobile devices */

/*********************************************
 * MAIN CONTAINER ****************************
 *********************************************/
.container {
  padding-top: 62px;
}

.featured_work__graphic {
  max-width: 138px;
}

.featured_work__section {
  width: 100%;
}

.featured_work__information {
  width: 59%;
  min-width: 59%;
  max-width: 68%;
}

/*********************************************/