@charset "utf-8";
/* CSS Document */

/* Variables */
:root {
  /* font */
  --default-font-family: Arial, Helvetica, sans-serif;

  --font-size-xsmall: 8pt;
  --font-size-small: 10pt;
  --font-size-medium: 12pt;
  --font-size-large: 16pt;
  --font-size-xlarge: 20pt;
  --font-size-xxlarge: 24pt;

  /* colors */
  --default-font-color: #333;
  --default-background-color: #fdfdfd;
  --container-background-color: #f3f3f3;
  --anchor-text-color: orange;
  --anchor-text-hover-color: #3397db;
  --image-border-color: #fff;
}

html {
  height: 100%;
}

body,td,th,p{
	font-family: var(--default-font-family);
	font-size: var(--font-size-small);
	color: var(--default-font-color);
	line-height: 1.5;
}
body {
  display: flex;
  flex-direction: column;

  height: 100%;

	background-color: var(--default-background-color);
  margin: 0;
  position:relative;

  overflow: hidden;
}

ul, li {
	font-family: var(--default-font-family);
	font-size: var(--font-size-small);
	color: var(--default-font-color);
}
a {
	color: var(--anchor-text-color);
	text-decoration: none;
}
a:hover, a:focus {
	color: var(--anchor-text-hover-color);
	text-decoration: none;
}
a img{
	border: none 0px var(--image-border-color);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--default-font-family);
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.scrollable {
  overflow-y: scroll !important;
}

#main-container {
  height: 100%;
  background-color: var(--container-background-color);
  display: flex;
  flex-flow: row wrap;
}

#footer {
  z-index: 1;
}

#footer-content {
  background-color: #444;
  color: #aaa;
  font-size: var(--font-size-xsmall);
  letter-spacing: 1px;
  padding: 20px 45px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: var(--font-size-small);
  font-weight: 200;
  letter-spacing: 5px;
  line-height: 80px;

  /* letter-spacing: 10px; */
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: var(--font-size-large);
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-direction: row;
  flex: 1 auto;

  width: 100%;
  height: 50px;
  background-color: #3397DB;
  align-items: center;
}

.filter-options .fa-filter {
  padding: 0px 10px;
  color: rgba(255,255,255,0.54);
  font-size: 1.15rem;
}

.filter-options h2 {
  color: white;
  font-size: var(--font-size-large);
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: var(--font-size-medium);
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 50%;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list-container, #restaurant-container {
  height: calc(100% - 55px);
  width: 100%;
  margin: auto;
}
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px;
  padding: 0 10px 5px;
  text-align: left;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  
}
#restaurants-list .restaurant-img-container {
  width: 35%;
  margin: auto;
  margin-right: 0;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  max-width: 100%;
  height: auto;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: var(--font-size-medium);
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: var(--font-size-medium);
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: var(--font-size-small);
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* .inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
} */
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: var(--font-size-xlarge);
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: var(--font-size-medium);
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: var(--font-size-medium);
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
}
#restaurant-details, #reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: var(--font-size-xxlarge);
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}


/* Extra small devices (phones, 739px and down) */
@media only screen and (max-width: 739px) {

  #main-container > * {
    flex: 1 100%;
  }

  #map-container {
    min-height: 50%;
  }

  #details-container {
    height: 50%;
  }

  .restaurant-info h1 {
    font-size: var(--font-size-medium);
  }

  #filter-options .fa-filter {
    display: block;
  }
} 

/* Small devices (portrait tablets and large phones, 740px up to 1440px) */
@media only screen and (min-width:740px) {

  #map-container {
    height: 100%;
    flex: 1 1 50%;
    order: 2;
  }

  #details-container {
    overflow: hidden;
    height: 100%;
    flex: 1 1 50%;
    order: 1;
  }
}

/* Small devices (portrait tablets and large phones, 1440px and up) */
@media only screen and (min-width:1440px) {

  #map-container {
    height: 100%;
    flex: 1 1 70%;
    order: 2;
  }

  #details-container {
    overflow: hidden;
    height: 100%;
    flex: 1 1 30%;
    order: 1;
  }
  #restaurants-list {
    max-width: 90%;
  }
  #restaurants-list li {
    width: 100%;
  }
}